recipes/keygenenerator/keys
rest/logs
*/target
*/.classpath
*/.project
.DS_Store
*/.DS_Store
.idea/*
.settings/
*.settings/
rest/sdf-store
rest/grizzly.log
rest/nohup.out
rest/last-test-execution.sdf
rest/dynamic-dynamo-config-file
rest/rest-public/enunciate.xml
rest/rest-private/enunciate.xml
rest/enunciate.xml
rest/nbactions-locale.xml
rest/nbactions-dev.xml
rest/nbactions-sand.xml
rest/recipes/dynamicdynamo.config
rest/recipes/node_modules/
*.swp
*.iml
logs
target
.idea
dcos
cluster-management/logs
spark/data/offlineattr_test/impression_log_offlineattr_test*
spark/data/beattribution-testdata/impression_log_offlineattr_test.csv
spark/recipes/scripts/.ipynb_checkpoints
spark/recipes/awsutils.pyc
TMP_logs
__pycache__
.project
derby.log
metastore_db/
/spark/spark-visitq/nbproject/
/visitq/visitq-shared/nbproject/
/visitq/spark-visitq/nbproject/
/visitq/visitq-spark/nbproject/
/rest/rest-private/nbproject/
/visitq/insightq/nbproject
.factorypath
.vscode
kafka-strea-spring/src/main/java